---
// IMPORT ASTRO ATOMS
import Button from "../../../atoms/Button.astro";
import H2 from "../../../atoms/H2.astro"
import OpenSansH3 from "../../../atoms/OpenSansH3.astro"

// IMPORT ASTRO COMPONENTS
import Blog from "./Blog.astro"
---
<section class="py-20">
	<div>
		<OpenSansH3>Talking latest trends</OpenSansH3>
		<H2>Technology & design insights</H2>
	</div>
	<div class="grid grid-cols-3 gap-8 py-10">
		<Blog
			src=""
			alt=""
			title="How Design Thinking Shapes Business Strategy"
		/>
		<Blog
			src=""
			alt=""
			title="Flexibility, Security, and Privacy-First Personalization: Critical Foundations for Your Website Redesign"
		/>
		<Blog
			src=""
			alt=""
			title="5 Tips for Successfully Implementing Behavior-Driven Development in Your Team"
		/>
	</div>
	<div class="flex justify-center">
		<Button>Explore more insights</Button>
	</div>
</section>
