---
// IMPORT ASTRO ATOMS
import Button from "../../../atoms/buttons/secondary/index.astro"
import OpenSansHeadingThree from "../../../atoms/heading/three/open-sans/uppercase/index.astro"
import HeadingTwo from "../../../atoms/heading/two/index.astro"

// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORT ASTRO COMPONENTS
import Blog from "./Blog.astro"

const { insights, data } = Astro.props
---
<Container>
	<section class="py-20">
		<div>
			<OpenSansHeadingThree>{ insights.title }</OpenSansHeadingThree>
			<HeadingTwo>{ insights.sub_title }</HeadingTwo>
		</div>
		<div class="grid md:grid-cols-3 gap-8 py-14">
			{

				data.map( ( item ) => {

					return(
						<Blog
							src={ item.cover }
							alt={ item.title }
							title={ item.title }
						/>
					)

				})

			}
		</div>
		<div class="flex justify-center">
			<Button>Explore more insights</Button>
		</div>
	</section>
</Container>
