---
// IMPORT ASTRO ATOMS
import Button from "../../../atoms/Button.astro"
import H2 from "../../../atoms/H2.astro"
import OpenSansH3 from "../../../atoms/OpenSansH3.astro"

// IMPORT ASTRO COMPONENTS
import Blog from "./Blog.astro"

const data = Array(3).fill({

	title: "How Design Thinking Shapes Business Strategy",
	src: "",
	alt: ""

})
---
<section class="py-20">
	<div>
		<OpenSansH3>Talking latest trends</OpenSansH3>
		<H2>Technology & design insights</H2>
	</div>
	<div class="grid grid-cols-3 gap-8 py-14">
		{

			data.map( ( item ) => {

				return(
					<Blog
						src={ item.src }
						alt={ item.alt }
						title={ item.title }
					/>
				)

			})

		}
	</div>
	<div class="flex justify-center">
		<Button>Explore more insights</Button>
	</div>
</section>
