---
// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import RoundedButton from "../../../atoms/buttons/primary/index.astro"

// IMPORT JSX ATOMS
import MobileHeader from "./MobileHeader"

// IMPORT COLLECTION FROM CONTENT
import { getCollection } from "astro:content"

let header_data = await getCollection("header")
header_data = header_data.sort((a, b) => a.data.order - b.data.order)
---
<header class="hidden md:block sticky top-0 z-50">
    <section class="flex items-center justify-center h-20 bg-background border-b border-b-white">
        <Container>
            <nav class="flex justify-between items-center">
                <a href="/">
                    <div class="w-32 aspect-video">
                        <img
                            src="/logo/gl_logo.svg"
                            alt="Gorilla Logic Logo"
                            class="w-32 aspect-video"
                        />
                    </div>
                </a>
                <div class="flex items-center gap-8">
                    <ul class="flex items-center">
                        {

                            header_data.map( ( item ) => {

                                return (
                                    <li class="text-white hover:text-gl_sky_blue font-open_sans font-thin hover:cursor-pointer relative group p-4">
                                        <a class="group-hover:text-brown" aria-label={"explore " + item.data.title }>{ item.data.title }</a>
                                        {

                                            item.data.has_dropdown && item.data.title==="Services" &&
                                            <div class="hidden group-hover:block group-hover:flex-col absolute p-10 bg-background shadow-lg left-0 z-20 top-14 w-[670px] gap-2 custom-shadow">
                                                <div class="grid grid-cols-2 gap-x-20">
                                                    <div>
                                                        <div class="py-2">
                                                            <p class="text-white text-sm font-open_sans font-semibold uppercase tracking-widest">{ item.data.column_one_title }</p>
                                                        </div>
                                                        {

                                                            item.data.column_one_items.map( ( sub_item ) => {

                                                                return(
                                                                    <div class="py-2">
                                                                        <a
                                                                            class="text-dark_grey hover:text-brown"
                                                                            aria-label={ "explore" + sub_item.title }
                                                                        >
                                                                            <div class="text-sm text-white hover:text-gl_sky_blue font-open_sans font-thin">{ sub_item.title }</div>
                                                                        </a>
                                                                    </div>
                                                                )

                                                            })

                                                        }
                                                    </div>
                                                    <div>
                                                        <div class="py-2">
                                                            <p class="text-white text-sm font-open_sans font-semibold uppercase tracking-widest">{ item.data.column_two_title }</p>
                                                        </div>
                                                        {

                                                            item.data.column_two_items.map( ( sub_item ) => {

                                                                return(
                                                                    <div class="py-2">
                                                                        <a
                                                                            class="text-dark_grey hover:text-brown"
                                                                            aria-label={ "explore" + sub_item.title }
                                                                        >
                                                                            <div class="text-sm text-white hover:text-gl_sky_blue font-open_sans font-thin">{ sub_item.title }</div>
                                                                        </a>
                                                                    </div>
                                                                )

                                                            })

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        {

                                            item.data.has_dropdown && item.data.title!="Services" &&
                                            <div class="hidden group-hover:block group-hover:flex-col absolute p-10 bg-background shadow-lg left-0 z-20 top-14 w-80 gap-2 custom-shadow">
                                                <div class="flex flex-col">
                                                    {

                                                        item.data.items.map( ( sub_item ) => {

                                                            return(
                                                                <div class="py-2">
                                                                    <a
                                                                        class="text-dark_grey hover:text-brown"
                                                                        aria-label={ "explore" + sub_item.title }
                                                                    >
                                                                        <div class="text-sm text-white hover:text-gl_sky_blue font-open_sans font-thin">{ sub_item.title }</div>
                                                                    </a>
                                                                </div>
                                                            )

                                                        })

                                                    }
                                                </div>
                                            </div>
                                        }
                                    </li>
                                )

                            })

                        }
                    </ul>
                    <RoundedButton aria-label="talk to an expert">Talk to an expert</RoundedButton>
                </div>
            </nav>
        </Container>
    </section>
</header>
<MobileHeader client:load />
