---
// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import H1 from "../../../atoms/H1.astro"

// IMPORT ASTRO COMPONENTS
import HeroDescription from "./HeroDescription"
import HeroAnimatedImages from "./HeroAnimatedImages.astro"

const { data } = Astro.props
---
<section class="bg-background py-24">
    <Container>
        <section>
            <div class="grid md:grid-cols-5 gap-10">
                <div class="md:col-span-3">
                    <h1 class="text-white text-6xl md:text-8xl font-lora">{ data.title }<span class="text-gl_sky_blue italic"> your story</span>.</h1>
                </div>
                <HeroAnimatedImages />
            </div>
            <HeroDescription client:load />
        </section>
    </Container>
</section>
