---

// IMPORTS ASTRO ATOMS
import ButtonArrow from "@/atoms/buttons/arrow/index.astro"
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

---
<div class="col-span-2 pt-10">
    <ButtonArrow>Contact Us</ButtonArrow>
    <div class="flex justify-end absolute bottom-[150px] md:bottom-[97px] right-0 size-60 md:size-72">
        <PictureInternalContain
            alternative_text="gorilla"
            source="/images/gorilla_footer.svg"
        />
    </div>
</div>
