---
// IMPORT ASTRO LAYOUTS
import Layout from "../layouts/Layout.astro"

// IMPORT ASTRO COMPONENTS
import Footer from "../components/common/footer/Footer.astro"
import Header from "../components/common/header/Header.astro"
import HeaderBanner from "../components/common/HeaderBanner.astro"
import NotFoundView from "../components/NotFoundView.astro"
---
<Layout
	title="4O4 Page not found"
	description=""
	image=""
>
    <section class="md:h-screen md:max-h-screen">
        <HeaderBanner />
        <Header />
        <NotFoundView />
    </section>
	<Footer />
</Layout>
