---
const { href, aria_label } = Astro.props
---
<div>
    <a href={ href } aria-label={ aria_label }>
        <div class="flex gap-2 items-center group hover:cursor-pointer">
            <span class="uppercase text-lg text-gl_blue hover:text-black font-open_sans font-semibold tracking-widest">
                <slot />
            </span>
            <div class="size-6 group-hover:hidden">
                <img
                    src="/icons/blue_right_arrow.svg"
                    alt="right arrow"
                    class="size-6"
                />
            </div>
            <div class="size-6 hidden group-hover:block">
                <img
                    src="/icons/dark_blue_right_arrow.svg"
                    alt="right arrow"
                    class="size-6"
                />
            </div>
        </div>
    </a>
</div>
