---
const { href, aria_label } = Astro.props
---
<a href={ href } aria-label={ aria_label }>
    <button class="bg-body hover:bg-gl_sky_blue text-white hover:text-black text-xs uppercase px-4 rounded-full h-10 flex items-center justify-center">
        <slot />
    </button>
</a>
