---
const { href, aria_label } = Astro.props
---
<a href={ href } aria-label={ aria_label }>
    <button class="bg-blue-600 text-white text-sm hover:bg-blue-700 uppercase px-4 rounded-full h-10 flex items-center justify-center">
        <slot />
    </button>
</a>
