---
import Container from "../../layouts/Container.astro";
---
<section class="bg-background py-10">
    <Container>
        <section class="grid grid-cols-2">
            <h1 class="font-lora text-7xl text-white">We build the technology that tells your story.</h1>
        </section>
    </Container>
</section>
