---
// IMPORT ASTRO ATOMS
import Video from "../../../atoms/Video.astro"

const {

    src,
    alt,
    title,
    video_src,
    bottom_position

} = Astro.props
---
<div class={` ${ bottom_position ? "mt-16" : "" } relative`}>
    <div class="w-full aspect-[2/3]">
        <Video cy="locations-video">
            <source src={ video_src } type="video/mp4"/>
        </Video>
    </div>
    <div class={` ${ bottom_position ? "bottom-6" : "bottom-[88px]" } absolute flex gap-4 items-center justify-center w-full`}>
        <div class="w-14 aspect-video bg-zinc-200">
            <img
                src={ src }
                alt={ alt }
                class="w-full h-full"
            />
        </div>
        <span class="text-white uppercase font-open_sans font-semibold">{ title }</span>
    </div>
</div>
