---
// IMPORT ASTRO COMPONENTS
import Location from "./Location.astro"
---
<section class="grid grid-cols-4">
    <Location
        src=""
        alt=""
        title="Mexico"
        video_src=""
    />
</section>
