---
// IMPORT ASTRO ATOMS
import H3 from "../../../atoms/H3.astro"
import Paragraph from "../../../atoms/Paragraph.astro"
import ArrowAnchor from "../../../atoms/ArrowAnchor.astro"

const {

    src,
    alt,
    title,
    description,
    anchor_text

} = Astro.props
---
<div class="space-y-6">
    <div class="w-full aspect-[3/2] bg-zinc-200">
        <img
            src={ src }
            alt={ alt }
            class="h-full w-full"
        />
    </div>
    <H3>{ title }</H3>
    <Paragraph>{ description }</Paragraph>
    <ArrowAnchor>{ anchor_text }</ArrowAnchor>
</div>
