---
// IMPORT ASTRO LAYOUTS
import Container from "../../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import OpenSansH3 from "../../../atoms/OpenSansH3.astro"
import H2 from "../../../atoms/H2.astro"
import Paragraph from "../../../atoms/Paragraph.astro"
import Button from "../../../atoms/Button.astro"

// IMPORT ASTRO COMPONENTS
import CaseStudy from "./CaseStudy.astro"
---
<section class="py-20">
    <Container>
        <div>
            <div class="space-y-6">
                <OpenSansH3>Case Studies</OpenSansH3>
                <H2>Gorilla Logic in action</H2>
                <Paragraph>For more than 20 years, we’ve partnered with hundreds of leading Fortune 500 and SMB companies across industries to build their business-critical software applications.</Paragraph>
            </div>
            <div class="grid grid-cols-2 gap-24 py-10">
                <div class="pt-32">
                    <CaseStudy
                        src=""
                        alt=""
                        title="Developing a tool to increase revenue and streamline operations"
                        description="A collaborative partnership to create a faster and easier way for customers to search, find, and price the best satellite images online."
                        anchor_text="Explore Maxar"
                    />
                </div>
                <CaseStudy
                    src=""
                    alt=""
                    title="Designing a SaaS platform from the ground up"
                    description="To secure its market-leading position, Astrella needed to deliver the exceptional online performance and ease of use that its customers expected."
                    anchor_text="Explore Astrella"
                />
            </div>
            <div class="flex justify-center">
                <Button>View more successes</Button>
            </div>
        </div>
    </Container>
</section>
