---

// IMPORTS ASTRO LAYOUTS
import Container from '@/layouts/container/index.astro'

// IMPORTS ASTRO COMPONENTS
import ColumnFour from '@/components/common/footer/column-four/index.astro'
import ColumnOne from '@/components/common/footer/column-one/index.astro'
import ColumnThree from '@/components/common/footer/column-three/index.astro'
import ColumnTwo from '@/components/common/footer/column-two/index.astro'
import SocialIcons from '@/components/common/footer/social-icons/index.astro'

// IMPORTS ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import PictureInternalContain from '@/atoms/picture/internal/contain/index.astro'

// IMPORTS ASTRO COLLECTION
import { getCollection } from 'astro:content'

// IMPORTS FOOTER COLUMN ONE COLLECTION
let footer_column_one = await getCollection('footer-column-one')
footer_column_one = footer_column_one.sort((a, b) => a.data.order - b.data.order).filter( ( item ) => item.data.live )

// IMPORTS FOOTER COLUMN TWO COLLECTION
let footer_column_two = await getCollection('footer-column-two')
footer_column_two = footer_column_two.sort((a, b) => a.data.order - b.data.order).filter( ( item ) => item.data.live )

// IMPORTS FOOTER COLUMN THREE COLLECTION
let footer_column_three = await getCollection('footer-column-three')
footer_column_three = footer_column_three.sort((a, b) => a.data.order - b.data.order).filter( ( item ) => item.data.live )

// IMPORTS FOOTER TITLES
import { frontmatter as footerColumnOne } from "@/content/footer-titles/title-one.md"
import { frontmatter as footerColumnTwo } from "@/content/footer-titles/title-two.md"

---
<footer class="bg-background z-30 relative">
    <section class="py-20 border-b border-white/40">
        <Container>
            <div class="w-40 aspect-video pb-10">
                <PictureInternalContain
                    alternative_text="gorilla logic logo"
                    source="/logo/gl_logo.svg"
                />
            </div>
            <div class="grid grid-cols-2 md:grid-cols-6 gap-10">
                <ColumnOne
                    data={ footer_column_one }
                    title={ footerColumnOne.title }
                />
                <ColumnTwo
                    data={ footer_column_two }
                    title={ footerColumnTwo.title }
                />
                <ColumnThree
                    data={ footer_column_three }
                />
                <ColumnFour />
            </div>
        </Container>
    </section>
    <Container>
        <section class="flex flex-col md:flex-row md:items-center justify-between py-6 md:h-24">
            <div class="flex flex-col md:flex-row gap-1 md:gap-10">
                <div class="flex gap-4">
                    <p class="text-sm text-white">&copy; { new Date().getFullYear() } Gorilla Logic LLC</p>
                    <p class="text-sm text-white hidden md:block">HQ Address: 8001 Arista Pl, Ste 600, Broomfield, CO 80021</p>
                </div>
                <div class="flex gap-4">
                    <Link href="/cookie-policy" aria_label="cookie policy">
                        <span class="text-sm text-white hover:text-gl_sky_blue underline underline-offset-4 hover:cursor-pointer">Cookie Policy</span>
                    </Link>
                    <Link href="/privacy-policy" aria_label="privacy policy">
                        <span class="text-sm text-white hover:text-gl_sky_blue underline underline-offset-4 hover:cursor-pointer">Privacy Policy</span>
                    </Link>
                </div>
            </div>
            <!-- SOCIAL ICONS -->
            <SocialIcons />
        </section>
    </Container>
</footer>
