---
// IMPORT ASTRO COMPONENTS
import SocialIcon from "./item/index.astro"
---
<div class="flex gap-4 pt-6 md:pt-0">
    <SocialIcon
        src="/icons/facebook.svg"
        alt=""
        href="https://www.facebook.com/gorillalogic"
    />
    <SocialIcon
        src="/icons/x.svg"
        alt=""
        href="https://twitter.com/gorillalogic/"
    />
    <SocialIcon
        src="/icons/linkedin.svg"
        alt=""
        href="https://www.linkedin.com/company/gorillalogic/"
    />
    <SocialIcon
        src="/icons/instagram.svg"
        alt=""
        href="https://www.instagram.com/gorilla_logic/"
    />

</div>
